<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent d-flex justify-content-start align-items-center">
          <h2 class="mb-0 display-4">Role Assignments</h2>
          <button
            type="button"
            class="btn btn-success btn-circle-plus margin-left-custom"
            (click)="create()"
            title="Crear"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">IAssignment ID</th>
                  <th scope="col">User Name</th>
                  <th scope="col">Assigned Role</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th scope="col">Options</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="!userRoles || userRoles.length === 0">
                    <td colspan="4" class="text-center">No hay asignaciones de roles para mostrar.</td>
                </tr>
                <tr *ngFor="let userRole of userRoles">
                    <td>{{ userRole.id }}</td>
                    <td>{{ getUserName(userRole.user_id) }}</td>
                    <td>{{ getRoleName(userRole.role_id) }}</td>
                    <td>{{ userRole.startAt | date:'yyyy-MM-dd' }}</td>
                    <td>{{ userRole.endAt ? (userRole.endAt | date:'yyyy-MM-dd') : 'Sin definir' }}</td>                  
                  <td>
                    <button class="btn btn-secondary" (click)="view(userRole.id)">View</button>
                    <button class="btn btn-primary" (click)="update(userRole.id)">Update</button>
                    <button class="btn btn-danger" (click)="delete(userRole.id)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>